* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* css om jagad */

/* css om syahril */

/* css om dika */
section {
    padding: 5px;
    margin: 5px;
}

.container-card1 {
    padding: 70px 100px;
    margin: 5px auto;
    width: 70%;
    background-color: #E7ECFF;
    border-radius: 70px;
}

p.content-card1 {
    text-align: justify;
    line-height: 30px;
}

h1.header-card1 {
  margin-bottom: 20px;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .container-card1 {
        padding: 50px 40px;
    }
    
    p.content-card1 {
        line-height: 20px;
    }
    
    h1.header-card1 {
      margin-bottom: 20px;
      font-size: 25px;
    }
  }
/* css om zehan */

/* css om raihan */
li{
    list-style: none;
  
  }
  .content{
    text-align:center;
    padding:10px 50px;
  }
  .content-title {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 48px;
    color:#091133;
  }
  
  .content-body{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    color:#6F7CB2;
    margin:30px 40px;
  }
  
  .content-price{
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 60px;
    letter-spacing: 1px;
    color:#091133;
    margin-bottom: 50px;
  }
  
  .message{
    background-color: #111B47;
    padding:20px 80px;
    cursor:pointer;
    box-shadow: 7px 7px #1677C2;
  
  
    font-family: Roboto;
    font-style: normal;
    color:#FFFFFF;
    font-weight: 500;
    font-size:24px;
    line-height:24px;
  }
  
  .message:active{
    position: relative;
    box-shadow: none;
    top:7px;
    left:7px;
  
  }
  
  .footer{
    margin-top: 120px;
    background-color: #111B47;
    height:50px;
    padding:40px;
  }
  
  .footer-right{
    font-family: Roboto;
    font-style: normal;
    font-weight:500;
    font-size:24px;
    line-height:24px;
    color:#939EA4;
    float:left;
  }
  
  .footer-symbol li{
    float:right;
    font-size: x-large;
    padding:20px 20px;
    color:#939EA4;
  }
  
  .footer-symbol li:hover{
    background-color: rgba(24,38,99,0.8);
  }