* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* css om jagad */

/* css om syahril */

/* css om dika */
section {
    padding: 5px;
    margin: 5px;
}

.container-card1 {
    padding: 70px 100px;
    margin: 5px auto;
    width: 70%;
    background-color: #E7ECFF;
    border-radius: 70px;
}

p.content-card1 {
    text-align: justify;
    line-height: 30px;
}

h1.header-card1 {
  margin-bottom: 20px;
  font-size: 30px;
}

@media only screen and (max-width: 600px) {
    .container-card1 {
        padding: 50px 40px;
    }
    
    p.content-card1 {
        line-height: 20px;
    }
    
    h1.header-card1 {
      margin-bottom: 20px;
      font-size: 25px;
    }
  }
/* css om zehan */

/* css om raihan */