* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* css om jagad */

/* css om syahril */

/* css om dika */
section {
    padding: 5px;
    margin: 5px;
}

.container-card1 {
    position: relative;
    padding: 70px 100px;
    margin: 5px auto;
    width: 70%;
    background-color: #E7ECFF;
    border-radius: 70px;
    animation: card1 2s;
}

p.content-card1 {
    text-align: justify;
    line-height: 30px;
}

h1.header-card1 {
  font-size: 30px;
}

div.line-card1 {
    height: 6px;
    background-color: rgba(36, 0, 194, 0.808);
    width: 0px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 2px;
    animation-play-state: paused;
}

.container-card1:hover div.line-card1 {
    animation: linecard1 4s forwards;
}

@keyframes linecard1 {
    from {
    }
    to {
        width: 30%;
        background-color: rgba(47, 0, 255, 0.842);
    }
}

@keyframes card1 {
    from {
        top: 20px;
        opacity: 0;
    }
    to {
        top: 0px;
        opacity: 1;
    }
}

@media only screen and (max-width: 600px) {
    .container-card1 {
        padding: 50px 40px;
    }
    
    p.content-card1 {
        line-height: 20px;
    }
    
    h1.header-card1 {
      margin-bottom: 20px;
      font-size: 25px;
    }
  }
/* css om zehan */

/* css om raihan */